@using Practice_Store.Application.Services.Orders.Queries.GetOrders_Admin
@using Practice_Store.Domain.Entities.Orders
@model ResultGetOrders_AdminDto;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LazZiya.TagHelpers
@{
    ViewData["Title"] = "GetUserOrders";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section>
<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">مدیریت سفارشات</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">لیست سفارشات</a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form method="get" class="input-group search-area" id="searchForm">
                        <input type="text" class="form-control" id="srch" name="searchKey" placeholder="بین سفارشات جست و جو کنید">
                        <button class="input-group-text" type="submit"><i class="flaticon-381-search-2"></i></button>
                    </form>
                    @if (Model.OrdersList.Count != 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-sm mb-0 table-striped">
                                <thead>
                                    <tr>
                                        <th>نام و نام خانوادگی</th>
                                        <th class=" ps-5" style="min-width: 200px;">آدرس</th>
                                        <th>کد پستی</th>
                                        <th>تلفن</th>
                                        <th>مجموع</th>
                                        <th>وضعیت</th>
                                        <th>کد رهگیری</th>
                                        <th>تاریخ ثیت</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="customers">
                                    @foreach (var item in Model.OrdersList)
                                    {
                                        <tr class="btn-reveal-trigger">
                                            <td class="py-3">
                                                <a href="#">
                                                    <div class="media d-flex align-items-center">
                                                        <div class="avatar avatar-xl me-2"><div class=""><img class="rounded-circle img-fluid" src="./images/avatar/5.png" width="30" alt=""></div></div>
                                                        <div class="media-body"><h5 class="mb-0 fs--1">@item.Name @item.LastName </h5></div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td class="py-2 ps-5">@item.Address</td>
                                            <td class="py-2">@item.PostCode</td>
                                            <td class="py-2">@item.Mobile</td>
                                            <td class="py-2">@((item.TotalSum + item.Shipping).ToString("n0"))</td>
                                            @if(item.OrderState == OrderState.Delivered){
                                                <td class="py-2 text-end"><span class="badge badge-success">تحویل داده شد<span class="ms-1 fa fa-check"></span></span></td>
                                            }
                                            @if(item.OrderState == OrderState.Processing){
                                                <td class="py-2 text-end"><span class="badge badge-primary">در حال پردازش<span class="ms-1 fa fa-redo"></span></span></td>
                                            }
                                            @if(item.OrderState == OrderState.Posted){
                                                <td class="py-2 text-end"><span class="badge badge-secondary">ارسال شده<span class="ms-1 fa fa-redo"></span></span></td>
                                            }
                                            @if(item.OrderState == OrderState.UserCanceled){
                                                <td class="py-2 text-end"><span class="badge badge-danger">لغو شده (کاربر) <span class="ms-1 fa fa-ban"></span></span></td>
                                            }
                                            @if(item.OrderState == OrderState.AdminCanceled){
                                                <td class="py-2 text-end"><span class="badge badge-warning">لغو شده(ادمین)<span class="ms-1 fa fa-ban"></span></span></td>
                                            }
                                            <td class="py-2">@item.RefId</td>
                                            <td class="py-2">@item.PayDateTime</td>
                                            <td class="py-2 text-end">
                                                <div class="dropdown">
                                                    <button class="btn btn-primary tp-btn-light sharp" type="button" data-bs-toggle="dropdown"><span class="fs--1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button><div class="dropdown-menu dropdown-menu-end border py-0">
                                                        <div class="py-2">
                                                            <button class="dropdown-item" onclick="window.location.href='/admin/order/GetOrderDetails?OrderId=@item.OrderId';">مشاهده</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.OrdersList.Count == 0)
{
    <div class="col-lg-12">
        <div class="alert alert-danger left-icon-big alert-dismissible fade show">
            <div class="media">
                <div class="alert-left-icon-big"><span><i class="mdi mdi-alert"></i></span></div>
                <div class="media-body">
                    <h5 class="mt-1 mb-2">سفارشی یافت نشد!</h5>
                    <p class="mb-0">مجدد جست و جو کنید</p>
                </div>
            </div>
        </div>
    </div>
}
<div class="text-center">
    <paging total-records="Model.RowsCount"
            page-no="Model.CurrentPage"
            page-size="Model.PageSize"
            max-displayed-pages="Convert.ToInt16(Model.RowsCount/Model.PageSize)+1"
            show-first-last="true"
            show-prev-next="true"
            show-total-pages="false"
            show-total-records="false"
            show-page-size-nav="false"
            show-gap="true"
            query-string-key-page-no="Page"
            query-string-key-page-size="PageSize">
    </paging>
</div>
</section>
@section Scripts{

    <script>
        $(document).ready(function() {
            $("#searchForm").submit(function(event){
                event.preventDefault();
                var params = new URLSearchParams(window.location.search.toLowerCase()); 
                var orderStateValue = params.get("orderstate"); 
                var searchKey = $("#srch").val();
                var newUrl;
                if (orderStateValue !== null) { 
                    newUrl = window.location.origin + window.location.pathname + "?searchkey=" + encodeURIComponent(searchKey) + "&orderstate=" + encodeURIComponent(orderStateValue); window.location.href = newUrl; 
                } 
                else {
                    newUrl = window.location.origin + window.location.pathname + "?searchkey=" + encodeURIComponent(searchKey);
                }
                window.location.href = newUrl;
            });
        });
    </script>
}
@section Modals{

}
